<div id="fb-root"></div>
<script>(function(d, s, id) {
  setTimeout(function() {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }, 5000);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="{{ page.url | absolute_url }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
