<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">

        {%- include facebook_sdk.html -%}
        <div class="fb-page"
             data-href="https://www.facebook.com/homeschoolingmoldova/"
             data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true">

          <blockquote cite="https://www.facebook.com/homeschoolingmoldova/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/homeschoolingmoldova/">Homeschooling Moldova</a>
          </blockquote>

        </div>

      </div>

      <div class="footer-col footer-col-3">
        <p>Dacă găsiți o greșeală sau puteți propune o îmbunătățire, scrieți-ne la adresa
          <a href="mailto:educatie@pentru.md">educatie@pentru.md</a></p>
      </div>
    </div>

  </div>

</footer>
