<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <a href="https://www.facebook.com/homeschoolingmoldova/"><img src="{{ '/assets/images/FB-f-Logo__blue_29.png' | relative_url }}"></a>
          &bullet; <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
          &bullet; <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
        </ul>

      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Dacă găsiți o greșeală sau puteți propune o îmbunătățire, scrieți-ne la adresa
          <a href="mailto:educatie@pentru.md">educatie@pentru.md</a></p>
      </div>
    </div>

  </div>

</footer>
