<ul class="post-list">
  {%- for post in include.posts -%}
  <li>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    <span class="post-meta">
      {% include functions/romanian_date.html date=post.date %}

      {%- if post.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}

    </span>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}

    <p><a href="{{ post.url | relative_url }}">Vedeți articolul integral… →</a></p>
  </li>
  {%- endfor -%}
</ul>
