h1, h2, h3, h4, h5, h6, .site-title, .site-nav {
  font-weight: bold;
  font-family: "Alegreya Sans", sans-serif;
}

.site-title {
  letter-spacing: initial;
  text-transform: capitalize;
}

.site-title,
.site-title:visited,
.post-list-heading,
.page-link {
  color: black;
}

blockquote {
  letter-spacing: 0;
  font-style: normal;
}

.post-content {
  position: relative; /* to allow the absolute positioning of the .translation-link */

  & .translation-link {
    position: absolute;
    top: -3rem;
    right: 0;
  }
}

.translation-link {
  font-weight: bold;
}

.post-content h2,
.post-content h3 {
  margin-top: 1.5em;
}

h2.post-list-heading {
  margin-top: 1.5em;
}

#markdown-toc {
  background-color: #f0f0f0;
  list-style-position: inside;
  margin-left: 0;
  padding: 0.75em 1em;

  &::before {
    content: "Cuprins:";
  }

  html[lang="ru"] &::before {
    content: "Содержание:";
  }

  li {
    margin-left: 0.5em;
  }
}

.post-list h3 {
  margin-bottom: 0;
  line-height: 1;
}
