<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="leave-notice">
          <p>Site-ul <strong>Asociației Obștești „Homeschooling Moldova”</strong> are o nouă adresa:
            <strong><a href="https://homeschooling.md">homeschooling.md</a></strong>.<br/>
            Vă vom redirecționa automat în cîteva secunde…</p>
        </div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include google_analytics.html -%}

  </body>

</html>
