---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Cele mai recente articole" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:3 -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="post-meta">{% include functions/romanian_date.html date=post.date %}</span>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        <p><a href="{{ post.url | relative_url }}">Vezi articolul integral… →</a></p>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
